[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pytest = "*"
pytest-django = "*"
today = "*"
django-basicauth = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.9"
