{% extends "base.html" %}
{% block body %}
  <div style="margin-top: 2em">

  {% if profile == user %}
  <h5>You're reading:</h5>
  {% else %}
  <h5>This user reads:</h5>
  {% endif %}

  {% for progress in progresses %}
    {% with book=progress.book %}
      {{ book.title }} ({{ progress.page }}/{{ book.pages }}) will be completed at {{ progress.expected_end|default_if_none:"N/A" }}.
      Current tempo is {{ progress.avg_pages_per_day }} pages per day.
    {% endwith %}

    {% if profile == user %}

    <form id="progress-form-{{ progress.id }}" method="POST" action="{% url 'update_progress' progress_id=progress.id %}">
      <input type="hidden" name="progress" value="{{ progress.id }}" />
      <label for="progress-currentPage-{{ progress.id }}">Current page:</label>
      <input
        class="short"
        id="progress-currentPage-{{ progress.id }}"
        type="number"
        name="current_page"
        value="{{ progress.page }}"
        required
      />
      <label for="progress-readPages-{{ progress.id }}">Read pages:</label>
      <input
        class="short"
        id="progress-readPages-{{ progress.id }}"
        type="number"
        name="read_pages"
        placeholder="{{ progress.avg_pages_per_day|floatformat:0 }}"
        required
      />
      <label for="progress-date-{{ progress.id }}">Date:</label>
      <input id="progress-date-{{ progress.id }}" value="{{ current_date|date:'Y-m-d' }}" type="date" name="date" required />
      <input class="button-primary" type="submit" form="progress-form-{{ progress.id }}" value="Save" />
      <input class="button" type="submit" form="delete-book-{{ progress.book.id }}" value="Delete">
    {% csrf_token %}
    </form>
    <form id="delete-book-{{ progress.book.id }}" method="POST" action="{% url 'delete_book' progress.book.id %}">{% csrf_token %}</form>

    {% endif %}

  {% endfor %}
  </div>

  {% if profile == user %}

  <h5>Add a book:</h5>
  <form id="add-book" method="POST" action="{% url 'add_book' %}">
    {% csrf_token %}
    <label for="book-title">Title:</label>
    <input placeholder="Title of a book" type="text" id="book-title" name="title"/>
    <label for="book-pages">Pages:</label>
    <input placeholder="Total number of pages" type="text" id="book-pages" name="pages"/>
    <input class="button" type="submit" form="add-book" value="Add">
  </form>

  {% endif %}

{% endblock %}